@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .luna-gradient {
    background: linear-gradient(
      160deg,
      theme("colors.gradient.a"),
      theme("colors.gradient.b"),
      theme("colors.gradient.c"),
      theme("colors.gradient.d")
    );
  }
}
