@import "@dugyu/luna-styles/index.css";

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 8px;

  padding-left: 64px;
  padding-right: 64px;

  background-color: var(--canvas);
}

.luna-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 100%;

  border-radius: 9999px;
}

.luna-pill--disabled {
  opacity: 0.5;
}

.luna-pill--primary {
  background-color: var(--primary);
}

.luna-pill--neutral {
  background-color: var(--neutral-ambient);
}

.luna-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.luna-text--primary {
  color: var(--primary-content);
}

.luna-text--neutral {
  color: var(--content);
}
